/* START CASE STUDIES */
.case_study_details.module div.social-share-inline { margin:0!important; height:1rem;}
.case_study_item .case_study_title      { font-weight: bold }
.case_study_item .case_study_title a, .case_study_item .case_study_title a:hover
                                        { color: #000000; font-weight: bold; text-decoration: none; }
.case_studies_widget .case_study_thumb img 
                                        { max-height: 125px; max-width: 125px; }
.case_study_item:nth-child(2n+1)        { background-color: #F6F6F6 }
.case_study_item                        { border-bottom: 1px solid #DADADA; overflow: hidden; padding: 10px 5px; }
.case_study_gallery                     { float: right; width: 220px; }
.case_study_gallery ul                  { list-style: none }
.case_study_details_photo               { width: 180px; height: 180px; border: 1px solid #222; text-align: center; box-shadow: inset 0 0 20px #444; background-position: center center; background-repeat: no-repeat; }
.case_study_gallery li                  { float: left; margin: 3px; }
.case_study_details_photo img           { }
.case_study_details_photo_descr         { width: 180px; padding: 3px; font-size: 12px; line-height: 17px; font-style: italic; color: #222; }
.case_study_details_body                { }
/* END CASE STUDIES */



/* ------------------------------------------- STARTS Case Study Module Grid ------------------------------------------- */
.case_grid .case_study_items,.case_grid .blog_items{
    text-align: left;
}
.case_grid .case_study_items .row{
    clear: none;
}
.case_grid .case_study_item{
   background: #fff !important;
   text-align: left;
   display: inline-block;
   vertical-align: top;
}
.case_grid .case_study_item:not(.blog_most_recent){
    width: 30%;
    float: none;
    margin: 9px;
    padding: 0;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0,0,0,.2);
    min-height: 406px;
}
.case_grid .case_study_item.blog_most_recent {
   margin-bottom: 30px;
}
.case_grid .case_study_item:not(.blog_most_recent) .case_study_title {
   margin-bottom: 10px;
   line-height: 1.2em;
   min-height: 60px;
}
.case_grid .case_study_item:not(.blog_most_recent) .blog_preview p {
   margin: 10px 0px 0px !important;
   line-height: 1.2em;
}
.case_grid .case_study_item:not(.blog_most_recent) .case_study_thumbnail {
   width: 100%;
   height: 100px;
   position: relative;
   float: none;
   margin: 0px 0px 10px;
   overflow: hidden;
}
.case_grid .case_study_item:not(.blog_most_recent) .case_study_thumbnail img {
   position: absolute;
    max-width: 101%;
    max-height: none;
    width: 101%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.case_grid .case_study_item.blog_most_recent {
   padding: 20px;
}
div.blog_most_recent div.blog_most_recent_header {
   margin-bottom: 20px;
   padding: 10px;
   font-size: 20px;
}
.case_grid .case_grid .case_study_item.blog_most_recent .case_study_thumbnail {
   float: left;
   margin-right: 20px;
   width: 200px;
}
.case_grid .blog_summary {
   clear: left;
}
.case_grid .blog_rss {
   float: right;
   clear: left;
}

.case_grid .case_study_item_details {
    padding: 15px;
}

.case_grid .case_study_items.row:last-of-type .case_study_item {
    float: left;
}

.case_study_items .row:last-child .case_study_item {
    float: left;
}
.case_grid .case_study_item:not(.blog_most_recent) .blog_preview p:first-child{
    
}

@media screen and (max-width: 640px){
  .case_grid .case_study_item:not(.blog_most_recent) {
      width: 95% !important;
  }
}

/* ------------------------------------------- ENDS Case Study Module Grid ------------------------------------------- */



/* CASE STUDY RELATED ITEMS */
.case_study_related_items               { clear: both }
.case_study_related_items .related_items_header
                                        { padding: 7px 15px; background: #eee; margin-bottom: 10px; font-size: 16px; color: #666; }
.case_study_related_items .template_4724
                                        { clear: both; margin: 10px auto; width: 90%; float: none; }
.case_study_related_items .template_4724 .scrollable-controls
                                        { float: none }
.case_study_related_items .template_4784
                                        { height: 150px }
.case_study_related_items .template_4784 .widget_title
                                        { padding-top: 10px }
/* .case_study_related_items .template_4784 {
    width: 100%;
    clear: both;
}

.case_study_related_items .template_4784 .widget_items {
    width: 90% !important;
    padding-left: 0 !important;
    margin: 0 auto !important;
}

.case_study_related_items .template_4784 .widget_item {
    float: none !important;
}

.case_study_related_items .template_4784 .stars_container {
    float: right !important;
    width: auto !important;
} */
.case_study_related_items .related_items_video
                                        { width: 560px; height: 315px; margin: 0 auto 10px auto; clear: both; }
/* END CASE STUDY RELATED ITEMS */