.citypage-map-legend                    { }
.citypage-map-legend-item               { background-repeat: no-repeat; padding-left: 35px; float: left; height: 30px; line-height: 30px; margin: 5px; }
.citypage-map-legend-item-testimonials  { background-image: url('/images/icons/chat-icon.png') }
.citypage-map-legend-item-reviews       { background-image: url('/images/icons/map-icon-review.png') }
.citypage-map-legend-item-jobs          { background-image: url('/images/icons/citypage-lead.png') }

.citypage_main_content                  { overflow: auto; padding-right: 10px; }
.citypage_sidebar                       { width: 220px; float: right; }
.citypage_map_legend                    { border-top: 1px solid #CCC }
div[class*="citypage"] div table  { width: 100%; background: transparent; border: 0; }
div[class*="citypage"] table ul         { padding: 0; margin-top: 10px; }



/* Asset Content */
.citypage_index .citypage_2col_widget_wrapper { clear: both;}
.citypage_index .citypage_2col_widget_wrapper .widget_testimonials,
        .citypage_2col_widget_wrapper .reviews_sidebar_widget { width: 48%; float: left;}    
.citypage_index .widget_testimonials .widget_content,
        .reviews_sidebar_widget .widget_items { height: 125px; overflow-y: scroll; margin-bottom: 0 !important; padding: 8px 12px !important;}

.citypage_index .reviews_sidebar_widget .widget_items ul { padding: 0 !important;}

.citypage_index .citypage_2col_widget_wrapper .reviews_sidebar_widget { float: right;}
.citypage_index .widget_citypage_list { float: left;}
.citypage_index .citypage_text_noobligation { margin-bottom: 10px;}
.citypage_index .citypage_text_responsible,
        .citypage_text_generated_content { clear: both;}

.citypage_index .citypage_testimonial_main { background: #f8f7f7 url('/images/widgets/citypage_contact_main_bg.jpg') no-repeat top left; background-position: 5px 15px; background-color: #FFFFFF; padding: 10px 20px 12px 100px; margin: 0px 5px 10px 0px; overflow: hidden; border: none; border-top: 1px solid #0B8FC6;}
@media screen and (max-width: 640px){.citypage_index .citypage_testimonial_main { padding: 20px; text-align: center;}}
.citypage_index .citypage_testimonial_main .text { font-size: 18px; line-height: 25px; color: #69696b; margin: 0 0 8px; position: relative;}
.citypage_index .citypage_testimonial_main span { display: inline-block; position: relative; width: 16px; height: 16px; background: url('/images/widgets/citypage_contact_main_right_quote.png') no-repeat top right; position: absolute;}
.citypage_index .citypage_testimonial_main .author a { font-size: 14px; color: #096a92;}

.citypage_index .case_studies_widget .case_study_thumb { float: left; margin-right: 10px;}
.citypage_index .case_study_thumb { float: left; max-height: 100px; max-width: 125px;}
.citypage_index .case_studies_widget .widget_item{ overflow: hidden; margin-bottom: 10px;}
.citypage_index .case_studies_widget .widget_moreurl{ clear: both;}

.citypage_index .press_release_image img{ width: 125px; margin-right: 10px;}
.citypage_index .press_release_image { max-height: 125px; overflow: hidden; float: left;}
.citypage_index .press_release_widget .widget_item{ margin-bottom: 10px; float: left;}

.citypage_index .before_after_sidebar_widget .widget_items { overflow: hidden; background-color: #FFFFFF; color: #000000; font-size: 12px; line-height: 16px; margin-bottom: 10px; padding: 8px 12px;}
.citypage_index .before_after_sidebar_widget .widget_item_thumb{ float: left; margin-right: 5px;}
.citypage_index .before_after_sidebar_widget .widget_item_title{ font-weight: bold;}
.citypage_index .before_after_sidebar_widget .widget_item_text{ clear: both; margin-bottom: 10px;}

.citypage_index .photo_gallery_widget .widget_item .photo_gallery_thumb { display:inline; height:100px; width:100px;}
.citypage_index .photo_gallery_widget .widget_item .widget_item_preview { display:inline; height:100px; width:70%; float:right;}
.citypage_index .photo_gallery_widget .widget_item { margin:5px 0;}
.citypage_index .photo_gallery_widget .widget_moreurl{ padding-top:15px;}

.widget_job_stories .widget_item_title { font-weight: bold; margin-bottom: 10px; }
.widget_job_stories .widget_item { border-bottom: 1px dotted #ccc; margin-bottom: 10px; }
.widget_job_stories .widget_item:last-child { border-bottom: none; }

/* contact form */
.citypage_index .submit #save { border: 1px solid #096c94; background-color: #008ec8; color: #ffffff; font-size: 11px; font-weight: bold; margin-left: 7px; /*float: left;*/ width: auto; margin-top: 10px; cursor: pointer; border-radius: 5px;}
.citypage_index .submit #save:hover { background-color: #096c94;}
.citypage_index .submit.des#save { border: 1px solid #41963b!important; background-color: #50b948!important;}
.citypage_index .submit.des#save:hover { background-color: #41963b!important;}
.citypage_index .citypage_sidebar { margin-left: 10px;}
.citypage_index .citypage_main_content { padding-right: 0px;}
.citypage_index .widget_contact .widget_title { background: url('/images/widgets/citypage_contact_head_bg.png') top right; background-repeat: repeat-x; height: 70px; border-bottom: none;}
.citypage_index .widget_contact .widget_title.des { background: url('/images/widgets/citypage_contact_head_bg_des.png') top right!important;}
.citypage_index .widget_contact .widget_content { background-color: #EEEEEE; margin-bottom: 0;}
.citypage_index .citypage_contact_line1,
        .citypage_contact_line2 {color:#FFF; text-align: center;}
.citypage_index .citypage_contact_line1 { font-size: 16px;}
.citypage_index .citypage_contact_line2 { font-size: 16px; line-height: 22px;}
.citypage_index .widget_contact .state,
.citypage_index .widget_contact .zip { width: 48%; }
.citypage_index .widget_contact input,
.citypage_index .widget_contact textarea,
.citypage_index .submit #save { width: 100% !important; float: none; }
.citypage_index .widget_contact .phone { clear:both; }
/** END SERVICE AREA/CITY/COUNTY PAGE **/