/* --- CONTACT FORM --- */
.contact_form                           { width: auto !important; margin: 0px auto 20px; }
.contact_form h1                        { line-height: 24px }
.contact_form .contact_form_intro       { padding-top: 10px; padding-bottom: 10px; }
.contact_form .contact_form_intro_phone { font-size: 16px; font-weight: bold; padding-bottom: 15px; }
.contact_form form                      { width: 70%; margin: 0 auto; }
.contact_form form label                { font-size: 12px; }
.contact_form label span                { position: relative; top: -0.5em; font-size: 80%; }
.contact_form form div                  { padding-bottom: 10px }
.contact_form .fname                    { float: left }
.contact_form .lname                    { padding-left: 15px; float: left; }
.contact_form .address                  { clear: both }
.contact_form .city                     { float: left }
.contact_form .state                    { float: left }
.contact_form .zip                      { float: left }
.contact_form .phone                    { clear: both }
/* --- END CONTACT FORM --- */

/* --- START CONTACT FORM --- */
.contact_form.module, .contact_form.page_widget
                                        { float: left; font: normal 13px/16px Verdana, Geneva, sans-serif; }
.contact_form.module label, .contact_form.page_widget label
                                        { font-weight: 800; color: #333333; }
.contact_form.module label.emergency
                                        { font-weight: normal; color: inherit}
.contact_form.module .lname, .contact_form.page_widget .lname
                                        { float: right; width: 49%; padding-left: 0; }
.contact_form.module .fname, .contact_form.page_widget .fname
                                        { float: left; width: 49%; }
.contact_form.module .lname input, .contact_form.module .fname input, .contact_form.page_widget .lname input, .contact_form.page_widget .fname input
                                        { clear: both; width: 100%; }
.contact_form.module .address, .contact_form.page_widget .address
                                        { width: 100% }
.contact_form.module .address input, .contact_form.page_widget .address input
                                        { clear: both; width: 100%; }
.contact_form.module .city, .contact_form.page_widget .city
                                        { width: 36%; padding-right: 2%; }
.contact_form.module .city input, .contact_form.page_widget .city input
                                        { clear: both; width: 100%; }
.contact_form.module .state, .contact_form.page_widget .state
                                        { width: 30%; padding-right: 2%; }
.contact_form.module .state select, .contact_form.page_widget .state select
                                        { clear: both; width: 100%; }
.contact_form.module .zip, .contact_form.page_widget .zip
                                        { width: 30% }
.contact_form.module .zip input, .contact_form.page_widget .zip input
                                        { clear: both; width: 100%; }
.contact_form.module div.phone, .contact_form.page_widget div.phone
                                        { float: left; width: 49%; padding-right: 2%; }
.contact_form.module .phone input, .contact_form.page_widget .phone input
                                        { clear: both; width: 100%; }
.contact_form.module .email, .contact_form.page_widget .email
                                        { float: left; width: 49%; }
.contact_form.module .email input, .contact_form.page_widget .email input
                                        { clear: both; width: 100%; }
.contact_form.module .servicetype, .contact_form.page_widget .servicetype
                                        { clear: both; width: 100%; }
.contact_form.module .servicetype select, .contact_form.page_widget .servicetype select
                                        { clear: both; width: 100%; }
.contact_form.module .comment, .contact_form.page_widget .comment
                                        { clear: both; width: 100%; }
.contact_form.module .comment textarea, .contact_form.page_widget .comment textarea
                                        { clear: both; width: 100%; height: 65px !important; }
.contact_form.module .submit, .contact_form.page_widget .submit
                                        { width: 200px; margin: auto; }
.contact_form.module .contact_form_outro, .contact_form.module .contact_form_outro p
                                        { font: normal 10px/1.2em Verdana, Geneva, sans-serif; margin: 10px 20px 20px; }


/* Global 4-Step Form Overrides to makey more
nice looky on Desktop in New Templates */

@media screen and (min-width: 641px) {

    #content-wrap > div.contact_form {
        width: 540px !important;
    }
    #content-wrap > div.contact_form form {
        width: 100% !important;
    }
    #content-wrap > div.contact_form div.form_fields {
        margin: 10px auto 0px;
    }
    /*#content-wrap > .contact_form .step input,
    #content-wrap > .contact_form .step select {
        display: inline-block;
        width: 50% !important;
    }*/
    #content-wrap > .contact_form .step input[type="text"] {
        height: 32px;
        margin: 0px 0px 10px;
    }
    /*#content-wrap > .contact_form .step select {
        margin-left: 170px;
    }*/
    .what-prompted select {
        margin-left:0 !important;
    }
    #content-wrap > .contact_form .step label {
        /*text-align: right;*/
        margin: 0px 20px 0px 0px;
        width: 150px;
        font-size: 14px;
        line-height: 32px;
    }
    #content-wrap > .contact_form .step_4 label {
        text-align: left;
        width: auto;
        margin: 0px 0px 10px 0px;
    }
    #content-wrap > .contact_form .step input[type="submit"] {
        margin: 0px auto 10px !important;
        display: block;
        float: none;
    }
}

/* --- END CONTACT FORM --- */