.event_index                         { }
.event_item                          { overflow: hidden; padding: 12px 8px 12px 8px; border-bottom: 1px solid #CCC; }
.event_thumbnail                     { float: left; margin-right: 10px; }
.event_item_details                  { overflow: auto }
.event_thumbnail img                 { border: 1px solid #cccccc }
/*.event_details                       { overflow: hidden }*/
.event_details .page_details_links   { clear: both }
.event_details_info                  { float: left; margin: 2%; width: 96%; }
.event_details_info div.hr           { height:5px; width:100%; border-bottom:1px solid #CCC; }
.event_date                          { padding-top: 10px }
.event_title                         { font-weight: bold }
.event_address                       { }
.event_link                          { margin-top: 10px }
.event_upcoming                      { background-color: #FFFFEF }
.event_details_image                 { float: left; margin-right: 10px; }
.event_details_item                  { border-bottom: 1px solid #CCC; padding-bottom: 5px; padding-top: 5px; }
.event_details_date                  { }
.event_details_title                 { font-size: 1.2em; /*font-weight: bold;*/ margin: 0 0 10px; }
.event_details_address               { }
.event_details_address > div         { margin: 0 0 0 10px; font-size: 1.05em; }
.event_details_get_directions        { font-size:smaller; font-style:italic; }
.event_details_link                  { }
div.event_details_link,
        div.event_details_address,
        div.event_details_date       { padding:5px 0 5px 0; }
iframe.event_details_map             { border: 1px solid #CCCCCC; height: 200px; margin: 1% auto; padding: 2px; width: 99%; }
.event_details_item_title            { font-weight: bold; margin-top: 10px; }
.event_details_item_description      { margin-top: 10px }

div.registration_message             { background-color: #FFFFCC;border: 1px solid #CCCCCC;font-size: 1.2em;margin: 5px auto;padding: 5px;width: 95%; }
div.registration_message.success     { background-color: #CCFFCC; }
div.registration_message.warning     { background-color: #FFFFCC; }
div.registration_message.error       { background-color: #FFCCCC; }
div.registration_message h2          { margin-top:0!important; color:#555; }

form#event_registration_form div.registration_input input,
 form#event_registration_form div.registration_input textarea { float: right; width: 75%; }

form#event_registration_form div.registration_input label       { font-weight: bold; float: left; }
form#event_registration_form div.row { overflow:hidden; }
form#event_registration_form div.registration_input label.error { font-weight: normal; color: red; font-style: italic; }
form#event_registration_form div.registration_input { margin: 5px; width: 90%; }
form#event_registration_form input#submit_registration { margin:5px 0 0 80%; }