.homeshow_index                         { }
.homeshow_item                          { overflow: hidden; padding: 12px 8px 12px 8px; border-bottom: 1px solid #CCC; }
.homeshow_thumbnail                     { float: left; margin-right: 10px; }
.homeshow_item_details                  { overflow: auto }
.homeshow_thumbnail img                 { border: 1px solid #cccccc }
.homeshow_details                       { overflow: hidden }
.homeshow_details .page_details_links   { clear: both }
.homeshow_details_info                  { float: left; width: 480px; }
.homeshow_date                          { padding-top: 10px }
.homeshow_title                         { font-weight: bold }
.homeshow_address                       { }
.homeshow_link                          { margin-top: 10px }
.homeshow_upcoming                      { background-color: #FFFFEF }
div.homeshow_details_info                 { width:65%; }
.homeshow_details_image                 { float: left; margin-right: 10px; width:30%;}
div.homeshow_details_image a         { width:100%; float:left; margin:1% 0; }
div.homeshow_details_image a img { width:100%; }
.homeshow_details_item                  { border-bottom: 1px solid #CCC; padding-bottom: 5px; padding-top: 5px; }
.homeshow_details_title                 { font-weight: bold }
.homeshow_details_item_title            { font-weight: bold; margin-top: 10px; }
.homeshow_details_item_description      { margin-top: 10px }
.homeshows_sidebar_widget .widget_title { background-image: url("/core/images/toolbox/home-show-header.png"); background-repeat: no-repeat; background-position: center; background-color: #fffff6; border-bottom: 1px solid #FDE9A3; height: 45px; margin: 0 0 8px; padding: 10px 0 0; }
.homeshows_sidebar_widget .widget_controls
                                        { background-color: #fff; border: none; }
.homeshows_sidebar_widget p             { text-align: center; margin: 0; color: #656565; }