/* ------------------------------------------- MEET THE TEAM PAGE------------------------------------------- */
.team                                   { }
.team_item                              { overflow: hidden; padding: 10px 0px 10px 0px; border-bottom: 1px solid #CCC; }
.team_item_details                      { overflow: auto }
.team_thumbnail                         { float: left; margin-right: 20px; width:100px; height: 75px; overflow: hidden; }
.team_photo                             { float: left; margin: 0 20px 20px 0; }
.team_full_description                  { padding: 5px }
.team_thumbnail img                     { max-height: 100%; display: block; margin: auto; }
 



/* MEET THE TEAM DEPARTMENT DISPLAY */
.meet_the_team_index .team_department_name
                                        { clear: both }
.meet_the_team_index .team_item_by_department:not(.box)
                                        { width: 20%; float: left; height: 175px; text-align: center; min-height: 170px; }
.meet_the_team_index .team_item_by_department.box 
                                        { max-height: 150px; text-align: center; }
.team_item_by_department .team_item_details
                                        { clear: left; }
.team_item_by_department .team_thumbnail
                                        { position:relative; margin: 0 auto; padding: 0; float: none; z-index: 0; background-size: cover; background-position: center center;}
.team_item_by_department .team_member_photo
                                        { position:absolute; height:100%; z-index: 10; width:100%; left:0;}
.team_item_by_department .team_description
                                        { word-break:break-word; }
/* END MEET THE TEAM DEPARTMENT DISPLAY */