/* START OUR WORK */
#our-work-wrapper > h2 {
    padding-top: 20px;
    border-top: 1px solid #d9d9d9;
    font-size: 28px;
}
#our-work-wrapper div.our-work {
    overflow: auto;
}
#our-work-wrapper div.our-work h1, #our-work-wrapper div.our-work h2 {
    font-size: 18px !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal !important;
}
#our-work-wrapper a.view-more {
    font-size: 16px;
    text-decoration: none;
    border: 2px solid #818181;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px auto 30px;
    display: block;
    text-align: center;
    width: 130px;
    transition: all .2s ease;
    color: #818181;
    clear: both;
    overflow: hidden;
}
#our-work-wrapper a.view-more:hover {
    background-color: #818181;
    color: #fff;
}
#our-work-wrapper .video_details_description p {
    font-size: 14px !important;
    margin: 0 auto 0 50px !important;
}
#our-work-wrapper .video_details_video {
    margin: 10px 0;
}
#our-work-wrapper .before_after_item {
    border-bottom: 0 !important;
    padding: 0 !important;
}
/* END OUR WORK */