.paginator                              { margin-top: 10px; float: left; width:320px;}
.paginator ul li                        { list-style: none; float: left; }
.paginator ul li a                      { text-decoration: none }
.paginator ul li.paginator_link         { border: 1px solid #d9d9d9; background-color: #f3f3f3; width: 20px; height: 18px; line-height: 18px; margin-right: 3px; text-align: center; display: block; border-radius: 3px; }
.paginator ul li.paginator_link_current { background-color: #ffffff; font-weight: bold; color: #000000; border: 0px; }
.paginator ul li a:hover                { text-decoration: underline }
.paginator ul li.paginator_link_next, .paginator ul li.paginator_link_previous
                                        { line-height: 18px; padding-right: 10px; padding-left: 10px; }