div#photogallery_albums > ul {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100%;
    grid-gap: 30px;
    padding: 0;
    margin: 0;
    overflow: visible;
}
@media screen and (max-width: 640px){
    div#photogallery_albums > ul {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 400px){
    div#photogallery_albums > ul {
        grid-template-columns: auto;      
    }
}
li.photogallery_album_item {
    position: relative;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    transition: .3s ease all;
    overflow: visible;
    width: auto;
    height: 200px;
    margin: 0 !important;
    float: none;
    background-color: #fff;
    z-index: 2;
}

/*li.photogallery_album_item::before {
    content: "";
    background: #b3b3b3;
    transform: rotate(-5deg);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
li.photogallery_album_item::after {
    transform: rotate(-5deg);
    content:"";
    width: 100%;
    height: 100%;
    background: #efefef;
    position: absolute;
    top: 0px;
    z-index: -2;
    transition: all .3s ease;
}*/
li.photogallery_album_item:hover::after {
    transform: rotate(-10deg);
}

li.photogallery_album_item > a {
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    border: 0;
}
li.photogallery_album_item > a:hover::before{
    background: rgba(0,0,0,0);
}
li.photogallery_album_item > a:before {
    content:"";
    background: rgba(0,0,0,.25);
    width: 100%;
    height: 100%;
    display: block;
    position:absolute;
    transition: all .3s ease;
}

.photogallery_album_title.inline_widget {
    top: auto;
    bottom: 0px;
    background: #f1f1f1;
    width: 100%;
    left: 0;
    padding: 10px 15px 30px;
    font-size: 14px;
    font-weight: bold;
}

.photogallery_album_photo_count {
    bottom: 5px;
    z-index: 1;
    font-size: 12px;
    right: auto;
    left: 15px;
    color: #666;
}

.photogallery_pagination {
    margin-top: 40px;
}


/* Gallery page */
.horizontal_social_share {
    margin: 20px auto 10px;
    padding: 0;
    height: 20px;
}
.horizontal_social_share a {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: none;
    background-size: contain;
    margin-left: 0;
}
.horizontal_social_share a:hover {
    background-size: 100%;
}

.photogallery_slider {
    border: 0;
    padding: 0;
    border-radius: 0 !important;
}

.photogallery_slider .photogallery_wrapper {
    border-radius: 0;
    padding: 0;
    background: #f7f7f7;
}

.photogallery_slider .ad-gallery {
    background-color: transparent;
    width: 100%;
    padding: 30px;
}
.ad-gallery .ad-image-wrapper {
    position: relative;
    left: -30px;
    top: -30px;
    margin: 0;
    width: calc(100% + 60px);
}
.ad-gallery .ad-image-wrapper,
.ad-gallery .ad-image-wrapper .ad-image {
    height: 450px !important;
}
.ad-gallery .ad-image-wrapper .ad-image {
    left: 0 !important;
    width: 100% !important;
}

.ad-gallery .ad-image-wrapper .ad-image img {
    width: 100%;
    min-height: 450px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ad-image-custom-desc h3 {
    margin: 0px auto 10px !important;
}

.ad-image-custom-desc {
    margin-bottom: 30px;
}

p.ad-info {
    display: block;
    padding: 3px 8px;
    background: rgba(247, 247, 247, .75);
}

.ad-gallery .ad-controls {
    position: absolute;
    top: 420px;
    z-index: 10;
    left: 0;
    display: block;
    height: 30px;
}
.ad-gallery .ad-controls p {
    display: block;
    height: 30px;
    line-height: 30px !important;
    padding: 0 10px;
}
.photogallery_item,
.photogallery_item:hover {
    border: 0;
}
.ad-gallery .ad-thumbs li a img {
    border-color: #f7f7f7;
}

.ad-gallery .ad-thumbs li a.ad-active img {
    border-color: #818181;
}

.ad-gallery .ad-forward,
.ad-gallery .ad-back {
    background-position: center;
    height: 100% !important;

}

.ad-gallery .ad-image-wrapper .ad-prev,
.ad-gallery .ad-image-wrapper .ad-next {
    height: 100% !important;
    width: 33%;
}