/* START PRESS RELEASE CMS */
.pr_item                                { border-bottom: 1px solid #dadada; overflow: hidden; padding: 10px 5px; }
.pr_item:nth-child(2n+1)                { background-color: #f6f6f6 }
.pr_item .pr_headline                   { font-weight: bold }
.pr_item .pr_headline a, .pr_item .pr_headline a:hover
                                        { color: #000; font-weight: bold; text-decoration: none; }
.pr_item .pr_thumbnail                  { float: left; margin-right: 10px; width: 100px; }
.pr_item .pr_thumbnail img              { border: 1px solid #dadada; max-height: 100px; max-width: 100px; }
.pr_wrapper                             { float: left; width: 60%; min-height: 145px; }
.pr_heading                             { border-bottom: 1px dotted #8d8b88 }
.pr_contact_box                         { float: right; width: 35%; border: 1px solid #b2b2b2; overflow: auto; }
.pr_contact_box h2                      { background: #e0dcd4; padding: 5px; font-size: 13px; font-weight: bold; color: black; }
.pr_contact_box div.social-share-inline { width:245px; }
.pr_contact_box div.social-share-inline ul { margin:0 0 0 3px!important; }
.pr_contact_box div.social-share-inline ul li { padding:6px 9px!important; }
.pr_contact_info                        { padding-left: 10px; line-height: 12px; }
.pr_contact_info p                      { font-size: 14px; margin-bottom: 10px !important; line-height: 1.2em; }
.pr_location_date                       { clear: both }
/* END PRESS RELEASE CMS */