/* RELATED LINKS */
.related_links_wrapper                  { margin-top: 25px; clear:both; }
.related_links_wrapper ul               { margin: 0 !important; padding: 0 !important; }
.related_links_wrapper ul li            { background-color: none; border: none; list-style: none outside none; margin-bottom: 5px; padding: 5px; width:200px; height:230px; float:left; margin-left:15px; overflow: hidden}
.related_links_wrapper_testimonials     { margin-top: 25px; clear:both; }
.related_links_wrapper_testimonials ul  { margin: 0 !important; padding: 0 !important; }
.related_links_wrapper_testimonials ul li
                                        { margin-bottom: 10px; padding: 5px; width:31%; height:230px; float:left; margin-right:1%; overflow: hidden; line-height: 1.5; font-size: .9rem; background: #FAFAFA; border-radius: 3px; border: 1px solid #EEEEEE;}
.related_links_wrapper_reviews          { margin-top: 25px; clear:both; }
.related_links_wrapper_reviews ul       { margin: 0 !important; padding: 0 !important; }
.related_links_wrapper_reviews ul li    { border-bottom:1px solid #e6e6e6; list-style: none outside none; margin-bottom: 5px; padding: 15px 0; float:left; margin-right:1%; overflow: hidden}
.related_links_title_reviews            { font-size: 1.3em; line-height: 1.3em; color:#808080; }
.related_links_header                   { font-weight: bold; margin: 10px 0 5px; }
.related_links_body                     { margin: 5px 0; }
.related_links_title                    { background-position: left center; background-repeat: no-repeat; font-size: 1.3em; line-height: 1.3em; color:#808080; }
.related_links_icon_testimonials        { background-image: url("/core/images/icons/icon-testimonial.png") }
.related_links_icon_reviews             { background-image: url("/core/images/icons/icon-reviews.png") }
.related_general_comment_container      { overflow:hidden; max-height:100px;}
.related_general_comment_container p    { margin-bottom:0px!important;padding-bottom:0px!important;font-size: .9rem;line-height: 1.5;}
.related_links_wrapper_testimonials .name-info { text-align: right; font-size: .85em; color: #757575; font-style: italic;}
.related_links_wrapper_testimonials .other-info { font-size: .8em; margin: 18px auto 0; color: #757575;}
/* END RELATED LINKS */