.testimonial_details_border             { height: 3px; border-top-width: 3px; border-top-style: solid; clear: both; margin-top: 5px; padding-bottom: 5px; }
.testimonial_details_customer           { float: right; padding: 15px; font-style: italic; text-align: right; }
.testimonial_details                    { overflow: hidden }
.testimonial_details_text               { font-style: italic; padding-top: 10px;}
.testimonial_item .testimonial_preview  { font-style: italic; margin-bottom: 5px; }
.testimonial_item .testimonial_preview:before
                                        { content: '"' }
.testimonial_item .testimonial_preview:after
                                        { content: '"' }
.testimonial_item .testimonial_customer { font-weight: bold }
.testimonial_item .testimonial_thumbnail
                                        { float: left; margin-right: 10px; width: 100px;}
.testimonial_item .testimonial_preview p
                                        { margin-top: 0 }
.testimonial_item .testimonial_thumbnail img
                                        { max-height: 100px; max-width: 100px; }
.testimonial_item .testimonial_details  { overflow: auto }
.page_details_links                     { margin: 10px 0px 10px 0px; clear: both; }
.page_details .page_details_text        { font-style: italic; margin-bottom: 15px; }
.page_details_link_previous, .page_details_link_all
                                        { float: left; margin: 25px 4px 0 0; }
.page_details_link_all::before          { content: ' | ' }
.testimonial_item                       { padding: 10px 5px; border-bottom: 1px solid #DADADA; overflow: hidden; }
.testimonial_item:nth-child(odd)        { background-color: #f6f6f6 }